#input_warning {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes flash {
  0%, 100%, 50% {
      opacity: 1
  }
  25%, 75% {
      opacity: 0
  }
}

.flash {
  animation-name: flash;
}
